<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="images/img-for-blog/2.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">Eylül 10, 2024</div>
                    <h2 class="card-title">Kendini Sabote Etmek</h2>
                    <p class="card-text">Kendini sabote etmek kulağa oldukça sıradan bir davranış biçimi gibi geliyor
                        olabilir. Ancak bu davranışın ardında yatan sebeplere ve sonrasında doğurabileceği sonuçlara bir
                        bakış atarsak hiç de sıradan bir durum olmadığını anlayabiliriz.</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="images/img-for-blog/1.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Eylül 10, 2024</div>
                            <h2 class="card-title h4">KONFOR ALANI</h2>
                            <p class="card-text">İçinde olmaktan tereddüt etmediğimiz alanlar vardır. Bu bir mekan da
                                olabilir, bir insan da olabilir veya bir duygu durumu da olabilir. Yani alan kavramı
                                aslında sadece bir mekanı içermiyor. Konfor alanı her insanın algısında farklı bir şeyi
                                imgeliyor olabilir.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="images/img-for-blog/3.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Eylül 10, 2024</div>
                            <h2 class="card-title h4">Sosyal Anksiyete</h2>
                            <p class="card-text">Sosyal anksiyete için çağımızın en popüler hastalıklarından biri demek
                                yanlış bir tanım olmaz sanırım. Sosyal medyada geçirdiğim kısa bir süre içinde birden
                                fazla sosyal anksiyete temalı içerik ile karşılaşıyorum.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="images/img-for-blog/4.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Eylül 10, 2024</div>
                            <h2 class="card-title h4">Egosantrik Zihinler</h2>
                            <p class="card-text">Esen rüzgarın yalnızca kendisini serinletmek için estiğini, doğan
                                güneşin ilk onu selamladığını, hayatına giren herkesin onun kaderinde görevlendirilmiş
                                bir piyon olduğunu, hatta koca kainatın kendisinin varlığını onurlandırmak adına
                                döndüğünü sanan insanlar… .</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="images/img-for-blog/5.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Eylül 10, 2024</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">Newer</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                            aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Felsefe</a></li>
                                <li><a href="#!">Psikoloji</a></li>
                                <li><a href="#!">İlişkiler</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Videolar</a></li>
                                <li><a href="#!">Podcastler</a></li>
                                <li><a href="#!">Galeri</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to
                    use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>